<div class="container w-100">

    <div class="row w-100 mt-5"> <!-- Começo da primeira Row-->
     <div class="col-md-12">
    <h1 class=" text-center font display-4"> Alcione Anthero </h1>
    </div>
    </div> <!-- Fim da primeira Row-->

    <div class="row w-100 mt-4 mb-4"> <!-- Segunda Row-->
        <div class="col-md-12">
            <p class="text-justify display-1 d-flex justify-content-center font3">
                A educação é a arma mais poderosa que você pode usar para mudar o mundo. - Nelson Mandela 

            </p>
        </div>
    </div> <!-- Fim da segunda Row-->


</div> <!-- FIM DO CONTAINER-->


<!--- Parallax-->
<div class="parallax"></div>

<div class="row w-100 ">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        
    </div>
</div>
<!-- Fim do parallax-->

<!-- Inicio jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 font3">Quem é a Alcione?</h1>
      <p class="lead"> Alcione é uma jovem que busca compreender as estações do futuro. É e sempre será uma garota sonhadora que coloca pra sí mesma, desafios e metas para seu futuro. Aprender e ganhar conhecimento sempre foram os meus pontos positivos e ainda não pretendo parar!</p>
      <p class="font3"> Busco compreender o futuro e passar um pouco do meu conhecimento para o próximo. Chegou a sua vez! Venha comigo! </p>
    </div>
  </div>
<!-- Fim jumbotron-->

<!---Inicio do Cards---->
<div class="container">


<div class="card-deck">
    <div class="card mt-5 mb-5">
      <img class="card-img-top" src="https://images.pexels.com/photos/2561368/pexels-photo-2561368.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title font2">Conhecimento</h5>
        <p class="card-text font2">Buscar se atualizar virou uma necessidade para enfrentar os caminhos da sociedade cruel. Acompanhar assuntos, aprender e fazer parte da atualidade é a chave para um bom futuro.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizado 2020</small>
      </div>
    </div>
    <div class="card mt-5 mb-5">
      <img class="card-img-top" src="https://images.pexels.com/photos/3363106/pexels-photo-3363106.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title font2">Estudo e Preparo</h5>
        <p class="card-text font2">Quando falamos em preparo, imaginamos faculdade, cursos.. Porém você já buscou entender como entrar na faculdade ou fazer um curso de graça? Sim, é possível. Existem milhares de ferramentas que te ajudam nesse caminho.. Vem comigo que eu te mostro! </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizado 2020 </small>
      </div>
    </div>
    <div class="card mt-5 mb-5">
      <img class="card-img-top" src="https://images.pexels.com/photos/885287/pexels-photo-885287.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title font2">Formação e experiência</h5>
        <p class="card-text font2">Primeiro emprego, estágio, currículos.. Falando assim, até assusta. Mas eu te asseguro que não é nada assustador. Hoje o mercado é amplo e eu te desafio caminhar sobre ele. Só me seguir que você chega lá!</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizado 2020 </small>
      </div>
    </div>
  </div>
<!---Final dos Cards--->


</div> <!--- Final CONTAINER-->

<!--- Inicio Jumbotron 2-->

<div class="jumbotron jum-color">
    <h1 class="display-4 font3">Você está preparado(a) para seu futuro?</h1>
    <p class="lead ">O principal objetivo da educação e/ do site é criar pessoas capazes de fazer coisas novas e não simplesmente repetir o que outras gerações fizeram.</p>
    <hr class="my-4">
    <p class="font3"> Acesse algumas dicas que vão te ajudar.</p>
    <button class="btn btn-warning  " routerLink='/login'> Acessar Feed</button>
  </div>
      
<!-- Fim Jubotrom 2-->

<!--- Parallax-->
<div class="parallax2"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-warning  " routerLink='/login'> Entrar</button>
    </div>
</div>
<!-- Fim do parallax-->


