<div class="container w-100">

    <div class="row w-100 mt-5"> <!-- Começo da primeira Row-->
     <div class="col-md-12">
    <h1 class="text-monospace text-center"> Sejam bem vindxs ao meu blog! </h1>
    </div>
    </div> <!-- Fim da primeira Row-->

    <div class="row w-100 mt-4 mb-4"> <!-- Segunda Row-->
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, quam! Itaque est ab ipsa accusantium eos commodi non repudiandae atque facilis, earum obcaecati optio saepe quidem nam ex nulla necessitatibus?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi et distinctio est, ipsam assumenda natus, quos quam, ducimus ratione delectus nostrum tenetur saepe ad aspernatur veritatis tempore minus fugit commodi?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quos minima aliquam fugit, quasi dignissimos, consectetur asperiores reiciendis qui et incidunt voluptates? Dicta eum quasi voluptates pariatur repellat quam ad.
            </p>
        </div>
    </div> <!-- Fim da segunda Row-->


</div> <!-- FIM DO CONTAINER-->

<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-warning text-uppercase font-weight=bold" routerLink='/feed'> Ver o feed</button>
    </div>
</div>